<!DOCTYPE html>
<html>
<head>
  <title>Rank All the Things</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <% if params[:type] %>
        <div class="col-sm-12">
          <%= render 'shared/media_list', obj: params[:type] %>
        </div>
      <% else %>

        <% @media.types.each do |type| %>
          <div class="col-sm-4">
            <%= render 'shared/media_list', obj: type %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</body>
</html>
