<!-- make this a partial to re-use for edit, except fix the votes hidden field -->

<!DOCTYPE html>
<html>
<head>
  <title>Create new <%= @type.downcase %></title>
</head>

<body>
<%= render partial: "shared/medium_form", locals: {obj: :media, url: {action: "create"}} %>
</body>
</html>
