/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
  font-family: "Hyperbole";
  src: url("hyperbole.eot?") format("eot"),
  url("hyperbole.woff") format("woff"),
  url("hyperbole.ttf") format("truetype"),
  url("hyperbole.svg#Hyperbole") format("svg");
  font-weight:normal;
  font-style:normal;
}

header {
  height: 65px;
  min-width: 500px;
  background: url(/assets/x-all-the-things-template.png) no-repeat left;
}

body {
font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;}

h1, h2, h3, h4, h5, h6 {
  font-family: "Hyperbole";
}

h1 {
  padding: 20px 0 0 120px;
}

h3 {
  text-align: center;
}

.medium-title {
  text-align: left;
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}

h1 a:link, h1 a:visited, h1 a:active, h1 a:hover,
h3 a:link, h3 a:visited, h3 a:active, h3 a:hover {
  text-decoration: none;
  color: black;
}

.votes, .votes form, .votes form div {
  display: inline;
}

a {
  color: #FF007E;
}

.link-btn form, .link-btn a, .link-btn form {
  background-color: #FF007E;
  border-color: #FF007E;
  border-radius: 5px;
  color: #E9F200;
  display: inline-block;
  padding: 0 6px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  box-shadow: -1px 1px 1px;
}

.link-btn form input {
  border: none;
  outline: none;
  background-color: #FF007E;
  border-color: #FF007E;
  padding: 0;
  margin: 0;
}
